:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Mitr", sans-serif !important;
  font-weight: 300 !important;
  font-size: 1.1rem !important;

  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Chonburi", cursive;
  /* font-size-adjust: 0.58; */
  /* font-size: 5rem !important; */
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
